<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="At our programming academy, you'll learn to master software development skills quickly and practically. We offer an intensive and affordable approach, with courses designed to make you a competent programmer in record time. Through real projects and practical exercises, you'll enhance your skills in web programming, app development, and more. Ideal for those seeking effective, accessible, and practice-centered training. Start your journey towards a new career today with our proven and affordable methodology! Suitable for beginners, experienced, and experts, we support all levels. Master programming quickly and practically at our affordable academy. Learn with real projects and improve your skills in record time. Learn, practice, and build. Create the future with your own hands.">
    <meta name="keywords" content="Academy, programming, courses, software development, programmers, fast, cheap, high-quality programming courses, programmers, technology">
    <link rel="alternate" hreflang="es" href="https://softkitacademy.com/es/" />
    <link rel="alternate" hreflang="en" href="https://softkitacademy.com/en/" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
    <title>SoftKit Academy - Learn Programming Quickly and Practically | Affordable and Effective Academy </title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SL2ETMM2GN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SL2ETMM2GN');
    </script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- IONIC ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple-without-background.svg"
                alt="Logo de SoftKit Academy, la mejor academia de programación si quiere aprender muchisimo y en poco tiempo"
                class="logo" width="75" height="75">
            <nav class="navegation">
                <a href="#" class="link">Home</a>
                <a href="#about-us" class="link">About Us</a>
                <a href="#pricing" class="link">Pricing</a>
                <a href="#" class="link">Courses</a>
            </nav>
            <a href="/form?form=login" class="link --button --button-default-hover --clickable">Login</a>
        </nav>
        <!-- This container is the navbar for mobile -->
        <div class="dropcont">
            <div class="dropmain">
                <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple-without-background.svg"
                    alt="SoftKit Academy logo, the best programming academy if you want to learn a lot in a short time"
                    class="logo" width="75" height="75">
                <div class="dropicon-block">
                    <img src="/static/icons/menu.svg" alt="Menu icon for programming academy" class="dropdown-icon --clickable" width="32" height="32">
                </div>
            </div>

            <nav class="dropdown">
                <ul class="droplinks">
                    <li>
                        <a class="dropdown__link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="#about-us">About Us</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="#pricing">Princing</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="#">Courses</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="/form?form=login">Login</a>
                    </li>
                    <li>
                        <img src="/static/icons/close.svg" alt="Menu icon for programming academy" class="dropdown-icon --clickable exit-icon" width="32" height="32">
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="main">
        <article class="content">
            <section class="front-page">
                <h1 class="title">
                    Master the programming <br>
                    So quickly
                </h1>
                <p class="desc">
                    Our advanced and high-quality content helps you acquire practical skills in less time
                </p>
                <a href="mailto:info@softkitacademy.com?subject=Information SoftKit Academys&body=Hello! I'd like to get more information about what's offered at SoftKit Academy" class="join --button">Join to our community!</a>
                <div class="cards">
                    <div class="card-info">
                        <img src="/static/icons/star.svg" alt="Menu icon for programming academy" class="card-icon" width="36" height="36">
                        <h2 class="card-title">Quality</h2>
                        <p class="card-desc">Our courses cover programming, infrastructure, data science, team management, and soft skills, offering you a comprehensive education in technology</p>
                    </div>
                    <div class="card-info">
                        <img src="/static/icons/school.svg" alt="Menu icon for programming academy" class="card-icon" width="36" height="36">
                        <h2 class="card-title">Knowledge</h2>
                        <p class="card-desc">Access the most up-to-date and advanced information with our courses, taught by experts to ensure quality education</p>
                    </div>
                    <div class="card-info">
                        <img src="/static/icons/satellite.svg" alt="Menu icon for programming academy" class="card-icon" width="36" height="36">

                        <h2 class="card-title">Technology</h2>
                        <p class="card-desc">Master the most modern and in-demand technologies in the market with our courses, and finish your training with a deep understanding of the subject</p>
                    </div>
                    <div class="card-info">
                        <img src="/static/icons/payments.svg" alt="Menu icon for programming academy" class="card-icon" width="36" height="36">
                        <h2 class="card-title">Affordable</h2>
                        <p class="card-desc">Get access to the most comprehensive courses at a competitive price, with guided practices, exams, projects, and more, adapted to the best way to learn programming</p>
                    </div>
                </div>
            </section>

            <!-- ABOUT US SECTION -->
            <section class="about-us --section" id="about-us">
                <div class="technologies">
                    <h2 class="subtitle">Learn About<br> a Wide Range of Topics</h2>
                    <div class="tech-icons">
                        <ion-icon name="logo-python" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-javascript" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-docker" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-html5" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-nodejs" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-react" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-tux" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-figma" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-wordpress" class="logo-icon"></ion-icon>
                    </div>
                </div>
                <div class="teach-us">
                    <div class="description-us">
                        <h2 class="subtitle">About Us</h2>
                        <p class="about-desc">Discover how to <strong>learn programming quickly and efficiently</strong>
                            with SoftKit Academy, the best way to learn programming.
                            We offer <strong>advanced and high-quality content</strong>
                            designed to help you acquire practical skills in less time. With our comprehensive approach, you will
                            <strong>master programming</strong> and apply what you've learned immediately</p>
                        <a href="mailto:info@softkitacademy.com?subject=Information SoftKit Academy&body=Hello! I'd like to get more information about what's offered at SoftKit Academy" class="link --button --button-default-hover --clickable">Contact Us</a>
                    </div>
                    <div class="social-media">
                        <a href="https://instagram.com/softkit_academy" class="link">
                            <ion-icon name="logo-instagram" class="social-media_icon --clickable"></ion-icon>
                        </a>
                        <a href="#" class="link">
                            <ion-icon name="logo-facebook" class="social-media_icon --clickable"></ion-icon>
                        </a>
                        <a href="#" class="link">
                            <ion-icon name="logo-youtube" class="social-media_icon --clickable"></ion-icon>
                        </a>
                    </div>
                </div>
            </section>
<!-- PRICING -->
<section class="pricing --section" id="pricing">
    <div class="pricing-card">
        <h3 class="pricing-title">$19.99/<span class="month-cont">month</span></h3>
        <ul class="pricing-list">
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Basic and intermediate couses</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Digital certificates</span>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Advanced courses</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Digital Platform</span>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Science courses</span>
            </li>
            <!--<li>
                <span class="material-symbols-outlined check-icon">
                    done
                </span>
                <span class="advise">Cursos de inglés</span>
            </li>-->
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Private meetings</span>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Custom courses</span>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Download content</span>
            </li>
        </ul>
        <a href="mailto:contract@softkitacademy.com?subject=Contract SoftKit Academy Basic Plan - 1 mes&body=Hi! I want to contact the basic for 1 month" class="price --button --button-full-size --button-default-hover --clickable">Contract plan</a>
    </div>
    <div class="pricing-card">
        <h3 class="pricing-title">$29.99/<span class="month-cont">mes</span></h3>
        <ul class="pricing-list">
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Basic and intermediate courses</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Digital certificates</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Advanced courses</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Digital Platform</span>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Science courses</span>
            </li>
            <!--<li>
                <span class="material-symbols-outlined check-icon">
                    done
                </span>
                <span class="advise">Cursos de inglés</span>
            </li>-->
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Private meetings</span>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Custom courses</span>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Download content</span>
            </li>
        </ul>
        <a href="mailto:contract@softkitacademy.com?subject=Contract SoftKit Academy Standard Plan - 1 mes&body=Hi! I want to contact the standard for 1 month" class="price --button --button-full-size --button-default-hover --clickable">Contract plan</a>
    </div>
    <div class="pricing-card">
        <h3 class="pricing-title">$49.99/<span class="month-cont">mes</span></h3>
        <ul class="pricing-list">
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Basic and intermediate courses</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Digital certificates</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Advanced courses</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Digital Platform</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Science courses</span>
            </li>
            <!--<li>
                <span class="material-symbols-outlined check-icon">
                    done
                </span>
                <span class="advise">Cursos de inglés</span>
            </li>-->
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Private meetings</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Custom courses</span>
            </li>
            <li>
                <img src="/static/icons/check.svg" alt="Academy menu icon. SoftKit Academy Programming Academy" class="check-icon" width="24" height="24">
                <span class="advise">Download content</span>
            </li>
        </ul>
        <a href="mailto:contract@softkitacademy.com?subject=Contract SoftKit Academy Premium Plan - 1 mes&body=Hi! I want to contact the premium for 1 month" class="price --button --button-full-size --button-default-hover --clickable">Contract plan</a>
    </div>
</section>
        </article>
    </main>
    <footer class="footer">
        <article class="content-footer">
            <section class="contact">
                <div class="logo-footer">
                    <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple-without-background.svg"
                        alt="SoftKit Academy, footer logo" width="80"
                        height="80">
                </div>
                <div class="contact-section">
                    <div class="contact-info">
                        <ul>
                            <li>
                                <img src="/static/icons/mail.svg" alt="Email icon" class="contact-icon" width="42" height="42">
                            </li>
                            <li>
                                <p>Information: <a href="mailto:info@softkitacademy.com?subject=Information for student">info@softkitacademy.com</a></p>
                                <p>Business: <a href="mailto:business@softkitacademy.com?subject=Business - SoftKit Academy">business@softkitacademy.com</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-info">
                        <ul>
                            <li>
                                <img src="/static/icons/call.svg" alt="Phone icon" class="contact-icon" width="42" height="42">
                            </li>
                            <li>
                                <p>Information: <a href="tel:829-795-8511">829-795-8511</a></p>
                                <p>Mobile: <a href="tel:829-795-8511">829-795-8511</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="footer-main">
                <div class="footer-div">
                    <h3 class="footer-title">SoftKit Academy</h3>
                    <p class="footer-text">Online education platform for the future of the world and market</p>
                </div>
                <div class="footer-div">
                    <h3 class="footer-title">Index</h3>
                    <nav class="link-listing">
                        <a href="#" class="footer-text link">Home</a>
                        <a href="#about-us" class="footer-text link">About Us</a>
                        <a href="#pricing" class="footer-text link">Pricing</a>
                        <a href="#" class="footer-text link">Courses</a>
                    </nav>
                </div>
                <div class="footer-div">
                    <h3 class="footer-title">Other tools</h3>
                    <nav class="link-listing">
                        <a href="https://tcer.com.do" class="footer-text link">TCER</a>
                        <a href="https://traductor.tcer.com.do" class="footer-text link">TCER Translator</a>
                        <a href="https://wifi.tcer.com.do" class="footer-text link">TCER Wifi</a>
                    </nav>
                </div>
                <div class="footer-div contact-div">
                    <h3 class="footer-title">Subscribe</h3>
                    <form action="#" class="subscription">
                        <input type="email" class="email-input" placeholder="Email">
                        <button type="submit" class="send-form --button-default-hover --clickable">Subscribirse</button>
                        <p class="footer-text">Get updates and news via e-mail</p>
                    </form>
                </div>
            </section>
            <section class="copyright">
                <h4 class="copy-text">© SoftKit Academy <span id="year"></span> | All Rights Reserved
                </h4>
                <div class="footer-social">
                    <a href="https://instagram.com/softkit_academy" class="link">
                        <ion-icon name="logo-instagram" class="social-media_icon footer-icon"></ion-icon>
                    </a>
                    <!--<a href="#" class="link">
                        <ion-icon name="logo-facebook" class="social-media_icon footer-icon"></ion-icon>
                    </a>-->
                    <!--<a href="#" class="link">
                        <ion-icon name="logo-youtube" class="social-media_icon footer-icon"></ion-icon>
                    </a>-->
                </div>
            </section>
        </article>
    </footer>

    <!-- CUSTOM JS -->
    <script src="/static/js/script.js"></script>
</body>

</html>