<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Softkit Academy</title>

    <!-- ICON -->
    <link rel="shortcut icon" href="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple.svg" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/form-version2.css">
    <link rel="stylesheet" href="/static/css/general.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
    <main class="main">
        <!-- LOGIN FORM -->
        <article class="container login-main">
            <div class="information-container main-container --card">
                <div class="main-form">
                    <h1 class="--title">Register</h1>
                    <p class="--description-transparent">Learn programming with profesionals</p>
                    <div class="form register">
                        <label class="entry --clickable-text" for="username">
                            <img src="/static/icons/person.svg" alt="User icon" class="--form-icon">
                            <input type="text" id="username" placeholder="Enter your username"
                                class="input-info username" required>
                        </label>
                        <label class="entry --clickable-text" for="password">
                            <img src="/static/icons/key.svg" alt="Password icon" class="--form-icon">
                            <input type="password" id="password" placeholder="Enter your password"
                                class="input-info password" required>
                        </label>
                        <label class="entry --clickable-text" for="email">
                            <img src="/static/icons/mail.svg" alt="Mail icon" class="--form-icon">
                            <input type="email" id="email" placeholder="Enter your e-mail" class="input-info email"
                                required>
                        </label>
                    </div>
                    <div class="actions --element-mini-margin" onclick="register()">
                        <span class="--button --clickable --button-default-hover">Send</span>
                    </div>
                </div>
            </div>
            <div class="extra-containers">
                <div class="--card question-container">
                    <h1 class="--title">Alredy have a account?</h1>
                    <p class="--desc">Continue your learning</p>
                    <a class="form-card" href="https://softkitacademy.com/en/form">
                        <img src="/static/icons/person_with_check.svg" alt="Login account icon" class="--big-icon">
                        <div class="sinopsis">
                            <h3 class="--little-title --no-stroke">Login in your account</h3>
                            <p class="--description-transparent">Click here to login</p>
                        </div>
                        <img src="/static/icons/chevron_rigth.svg" alt="Let's go icon" class="--big-icon">
                    </a>
                </div>
                <div class="--card opinions">
                    <div class="tech">
                        <img src="https://skillicons.dev/icons?i=js" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=python" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=docker" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=angular" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=rust" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=react" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=supabase" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=git" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=postgres" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=astro" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=cloudflare" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                        <img src="https://skillicons.dev/icons?i=tailwind" alt="Technology logo" class="partner-logo"
                            width="60" height="60">
                    </div>
                    <h1 class="--title">The most important technologies</h1>
                    <p class="--description-transparent --medium-word-limiter --text-centered">All the leading
                        technologies in the market are here. Thanks to our academy, you will be able to master them in
                        no time at the highest level.</p>
                    <div class="rate-sinopsis">
                        <div class="rate">
                            <img src="/static/icons/star.svg" alt="Star icon" class="--form-icon --icon-box">
                            <img src="/static/icons/star.svg" alt="Star icon" class="--form-icon --icon-box">
                            <img src="/static/icons/star.svg" alt="Star icon" class="--form-icon --icon-box">
                            <img src="/static/icons/star.svg" alt="Star icon" class="--form-icon --icon-box">
                            <img src="/static/icons/star.svg" alt="Star icon" class="--form-icon --icon-box">
                        </div>
                        <p class="--micro-description --text-centered rate-description">The highest quality!</p>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <script src="/static/js/form.js"></script>
</body>

</html>