body{
    background-color: var(--cultured);
}

.--gigant-title{
    font-size: 32px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

/* GENERAL STYLES */
.material-block{
    max-width: 1100px;
    width: 100%;
    padding-inline: 25px;
}

.material-block-mini{
    max-width: 900px;
    padding-inline: 25px;
    width: 100%;
}

.--border-bottom{
    border-bottom: 1px solid var(--onyx);
    padding-bottom: 24px;
}

.--material-block{
    padding-block: 12px;
    padding-inline: 40px;
}

.--illumination{
    transition: ease-in-out .2s;
}

.--illumination:hover{
    box-shadow: 0px 0px 3px 1px var(--onyx);
    border-radius: 8px;
}

/* Students task */
.task-header{
    display: flex;
    gap: 18px;
    border-bottom: 1px solid var(--onyx);
    padding-block-end: 24px;
}

.assigment-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task-content{
    display: flex;
    flex-direction: column;
    padding-block-start: 24px;
    gap: 32px;
}

.download-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(max-width: 550px){
    .action-buttons{
        flex-direction: column;
    }

    .download-link{
        grid-template-columns: 1fr;
    }
}