<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Material - SoftKit Academy</title>
</head>
<body>
    <form action="/api/add/material" method="post">
        <input type="text" name="course" id="course" placeholder="Course name">
        <input type="number" name="duration" id="duration" placeholder="Course minutes">
        <input type="text" name="description" id="description" placeholder="Course description">
        <input type="number" name="id_language" id="id_language" placeholder="ID Language">
        <input type="number" name="id_teacher" id="id_teacher" placeholder="ID Teacher">
        <input type="text" name="course_url" id="course_url" placeholder="Course URL">
        <input type="text" name="tags" id="tags" placeholder="Course tags">
        <input type="text" name="pricing" id="pricing" placeholder="Course pricing">
    </form>
</body>
</html>