<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea</title>
    <script src="/static/js/content-loader.js"></script>

    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/panel.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
    <header class="header"></header>
    <main class="main">
        <div class="material-block-mini --self-centered">
            <div class="task-header">
                <img src="/static/icons/book.svg" alt="Book icon" width="60" height="60"
                    class="--clickable --svg-black">
                <div class="assigment-info">
                    <h3 class="assigmment-title --font-black --gigant-title --no-stroke">{{ data.get("course") }}</h3>
                    <p class="assigment-desc --font-black --stroke">{{ data.get("teachers").get('name') }} | {{
                        data.get("published") }}</p>
                </div>
            </div>
            <div class="task-content">
                {{ description | safe }}
                <div class="--inline-container action-buttons">
                    {% if data.get("minutes") != 0 %}
                        <a class="--button --clickable --button-default-hover --inline-container --no-between --self-centered"
                            onclick="visited('{{ data.get('id') }}', '{{ data.get('url') }}')">
                            <img src="/static/icons/play_circle.svg" alt="Play video icon" width="25" height="25">
                            <div class="--block-container">
                                <span class="--no-margin">{{ data.get("course") }}</span>
                                <span>{{ data.get("minutes") }} minutos</span>
                            </div>
                        </a>
                    {% endif %}
                    <span class="--button --clickable --button-default-hover --inline-container --no-between --self-centered"
                        href="{{ data.get('url') }}" onclick="completed('{{ data.get('id') }}')">
                        <img src="/static/icons/check.svg" alt="Mark task as completed" width="25" height="25">
                        <div class="--block-container">
                            <span class="--no-margin">Completado</span>
                            <span>Marque su tarea como completada</span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </main>

    <script>
        render_component("header.html")
    </script>
    <script src="/static/js/activity-tracker.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>