<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea</title>
    <script src="/static/js/content-loader.js"></script>

    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/panel.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="header"></header>
    <main class="main">
        <div class="material-block-mini --self-centered">
            <div class="task-header">
                <img src="/static/icons/book.svg" alt="Book icon" width="60" height="60"
                    class="--clickable --svg-white">
                <div class="assigment-info">
                    <h3 class="assigmment-title --font-white --gigant-title --no-stroke">Curso de redes esenciales para
                        Desarrollo Web</h3>
                    <p class="assigment-desc --font-white --stroke">Biscen Fabián Pichardo Rosado | 29 Aug 2024</p>
                </div>
            </div>
            <div class="task-content">
                <p class="task-desc --font-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic
                    reiciendis voluptas dolores voluptates aperiam repellat, iusto, debitis fugiat quasi inventore
                    molestias numquam! Molestiae, doloribus. Cumque, ipsam! Ullam quod ducimus totam cupiditate vitae
                    consequatur quae fugiat fuga iste velit, et tenetur minima illum natus voluptas officia aperiam
                    nihil perferendis dolorum atque aliquid! Atque maiores fugit, eius cum repellat, laboriosam ea
                    laborum, nam et ratione distinctio soluta impedit! Ratione, alias incidunt at nihil accusamus ut
                    voluptates! Sunt recusandae cum soluta quibusdam distinctio, fugiat ipsa, repellat perspiciatis
                    nobis modi voluptas! Modi, numquam necessitatibus. Eaque non tenetur atque, vero modi distinctio.
                    Consequuntur, debitis odio!<br><br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quae delectus assumenda modi
                    expedita quam deserunt iste! Accusantium aliquam temporibus doloremque omnis cumque, qui quae,
                    repudiandae ut velit possimus consequuntur autem eaque exercitationem sunt ullam fugiat repellat
                    deleniti similique neque dolores distinctio earum tenetur reiciendis? Cum qui labore expedita
                    reiciendis corporis dolore iste, maiores asperiores ipsum quidem rerum voluptas accusamus nisi
                    dignissimos sapiente earum quam? Dolorem beatae ipsa a dolores tempora vel doloremque, quas at,
                    dolor aliquid illo aspernatur porro cumque debitis dignissimos veritatis nostrum, assumenda eius
                    fugit sunt excepturi esse rerum. Quaerat officia dolorum odio magni error aspernatur recusandae.
                </p>
                <a class="--button --self-centered --clickable --button-default-hover --inline-container" href="#">
                    <img src="/static/icons/play_circle.svg" alt="Play video icon" width="25" height="25">
                    <div class="--block-container">
                        <span class="--no-margin">Curso de redes esenciales para Desarrollo Web</span>
                        <span>38 minutos</span>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>