<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
	content="This is a the academy of the future. Softkit academy is created by TCER Company and we teach about technology and science. Python, C, C++, Go, Ruby, Figma, Linux, GNU/Linux, Wordpress, JavaScript, Docker, HTML, NodeJS, React, Assembly and more.">
	<title>Form - SoftKit Academy</title>

	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/css/form.css">

	<!-- Icons -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
	<main class="main">
		<div class="container">
			<!-- REGISTER -->
			<div class="general-container register-general show">
				<img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple.svg" alt="" class="logo" width="425" height="525">
				<form class="form register">
					<h1 class="form__title">Register</h1>
					<label for="user" class="input-icon">
						<ion-icon name="person-outline" class="icon"></ion-icon>
						<input type="text" placeholder="Insert your username" name="username" class="username info-input">
					</label>
	
					<label for="passw" class="input-icon">
						<ion-icon name="lock-closed-outline" class="icon"></ion-icon>
						<input type="password" placeholder="Insert your password" name="password" class="password info-input">
					</label>
	
					<label for="confirm" class="input-icon">
					<ion-icon name="checkmark-circle-outline" class="icon"></ion-icon>
						<input type="password" placeholder="Confirm your password" name="confirm" class="confirm info-input">
					</label>
						
					<label for="mail" class="input-icon">
						<ion-icon name="at-outline" class="icon"></ion-icon>
						<input type="email" placeholder="Insert your mail" name="email" class="email info-input">
					</label>
	
					<label for="confirm" class="input-icon">
						<ion-icon name="checkmark-circle-outline" class="icon"></ion-icon>
							<input type="password" placeholder="SERVER CODE" name="code" class="code info-input">
						</label>
					<span class="question" onclick="change()">Do you have an account?</span>
					<button type="button" class="submit" onclick="register()">Send</button>
				</form>
			</div>

			<!-- LOGIN -->
			<div class="general-container login-general">
				<img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple.svg" alt="" class="logo" width="425" height="525">
				<form class="form login">
					<h1 class="form__title">Login</h1>
					<label for="user" class="input-icon">
						<ion-icon name="person-outline" class="icon"></ion-icon>
						<input type="text" placeholder="Insert your username" name="username" class="username info-input">
					</label>
	
					<label for="passw" class="input-icon">
						<ion-icon name="lock-closed-outline" class="icon"></ion-icon>
						<input type="password" placeholder="Insert your password" name="password" class="password info-input">
					</label>
						
					<label for="mail" class="input-icon">
						<ion-icon name="at-outline" class="icon"></ion-icon>
						<input type="email" placeholder="Insert your mail" name="email" class="email info-input">
					</label>
					<span class="question" onclick="change()">Don't have an account?</span>
					<button type="button" class="submit" onclick="login()">Send</button>
				</form>
			</div>
		</div>
	</main>

	<!-- Custom JS -->
	<script src="/static/js/form.js"></script>
</body>
</html>
