<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This is a the academy of the future. Softkit academy teach about technology and science. Python, C, C++, Go, Ruby, Figma, Linux, GNU/Linux, Wordpress, JavaScript, Docker, HTML, NodeJS, React, Assembly and more.">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
    <title>SoftKit Academy</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="preload" media="print" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;900&display=swap"
        rel="stylesheet">
    <!-- GOOGLE ICONS -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- IONIC ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple-without-background.svg"
                alt="Logo image" class="logo" width="75" height="75">
            <nav class="navegation">
                <a href="#" class="link">Inicio</a>
                <a href="#about-us" class="link">Sobre nosotros</a>
                <a href="#pricing" class="link">Precios</a>
                <a href="#" class="link">Cursos</a>
            </nav>
            <a href="/form?form=login" class="link --button --button-default-hover --clickable">Login</a>
        </nav>
        <!-- This container is the navbar for mobile -->
        <div class="dropcont">
            <div class="dropmain">
                <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple-without-background.svg"
                alt="Logo image" class="logo" width="75" height="75">
                <div class="dropicon-block">
                    <span class="material-symbols-outlined dropdown-icon --clickable">
                        menu
                    </span>
                </div>
            </div>

            <nav class="dropdown">
                <ul class="droplinks">
                    <li>
                        <a class="dropdown__link" href="#">Inicio</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="#about-us">Sobre nosotros</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="#pricing">Precios</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="#">Cursos</a>
                    </li>
                    <li>
                        <a class="dropdown__link" href="/form?form=login">Login</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined exit-icon --clickable">
                            close
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="main">
        <article class="content">
            <section class="front-page">
                <h1 class="title">
                    Aprenda más,<br>
                    Crea el futuro tú mismo
                </h1>
                <p class="desc">La academia más completa, haga más en menos tiempo con nuestro contenido avanzado y de
                    la mayor calidad
                </p>
                <a href="#" class="join --button">¡Unete a la comunidad!</a>
                <div class="cards">
                    <div class="card-info">
                        <span class="material-symbols-outlined card-icon">
                            star
                        </span>
                        <h2 class="card-title">Calidad</h2>
                        <p class="card-desc">Nuestros cursos abarcan desde la programación, insfraestructura y ciencia
                            de datos hasta la gestión equipos y habilidades blandas.</p>
                    </div>
                    <div class="card-info">
                        <span class="material-symbols-outlined card-icon">
                            school
                        </span>
                        <h2 class="card-title">Conocimiento</h2>
                        <p class="card-desc">Tenemos la información más actualizada y avanzada para nuestros cursos. Con
                            maestros expertos en la materia.</p>
                    </div>
                    <div class="card-info">
                        <span class="material-symbols-outlined card-icon">
                            satellite_alt
                        </span>
                        <h2 class="card-title">Tecnología</h2>
                        <p class="card-desc">Domine las tecnologías más modernas y demandadas del mercado con nosotros,
                            termine su graduación con un rico conocimiento sobre el tema.</p>
                    </div>
                    <div class="card-info">
                        <span class="material-symbols-outlined card-icon">
                            payments
                        </span>
                        <h2 class="card-title">Asequible</h2>
                        <p class="card-desc">Por un precio más asequible del mercado, acceda a los cursos más completos
                            con prácticas guiadas, examenes, proyectos y más.</p>
                    </div>
                </div>
            </section>

            <!-- ABOUT US SECTION -->
            <section class="about-us --section" id="about-us">
                <div class="technologies">
                    <h1 class="subtitle">Aprenda sobre<br> infinidad de temas</h1>
                    <div class="tech-icons">
                        <ion-icon name="logo-python" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-javascript" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-docker" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-html5" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-nodejs" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-react" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-tux" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-figma" class="logo-icon"></ion-icon>
                        <ion-icon name="logo-wordpress" class="logo-icon"></ion-icon>
                    </div>
                </div>
                <div class="teach-us">
                    <div class="description-us">
                        <h1 class="subtitle">Sobre nosotros</h1>
                        <p class="about-desc">SoftKit Academy es una online la cual tiene como misión mejorar el nivel
                            de educación y conocimientos de los nuevos programadores. Tenemos como visión subir el
                            estándar de conocimientos que deben tener los programadores y así tener mejores
                            profesionales.</p>
                        <a href="#" class="link --button --button-default-hover --clickable">Contáctenos</a>
                    </div>
                    <div class="social-media">
                        <a href="#" class="link">
                            <ion-icon name="logo-instagram" class="social-media_icon --clickable"></ion-icon>
                        </a>
                        <a href="#" class="link">
                            <ion-icon name="logo-facebook" class="social-media_icon --clickable"></ion-icon>
                        </a>
                        <a href="#" class="link">
                            <ion-icon name="logo-youtube" class="social-media_icon --clickable"></ion-icon>
                        </a>
                    </div>
                </div>
            </section>
            <!-- PRICING -->
            <section class="pricing --section" id="pricing">
                <div class="pricing-card">
                    <h1 class="pricing-title">$45/<span class="month-cont">2 month</span></h1>
                    <ul class="pricing-list">
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos básicos e intermedios</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Certificados digitales</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Cursos avanzados</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                check
                            </span>
                            <span class="advise">Acceso a plataforma digital</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Cursos sobre ciencia</span>
                        </li>
                        <!--<li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos de inglés</span>
                        </li>-->
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Tutorías privadas</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Cursos personalizados</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Descarga de contenido</span>
                        </li>
                    </ul>
                    <a href="#" class="price --button --button-full-size --button-default-hover --clickable">Contratar
                        plan</a>
                </div>
                <div class="pricing-card">
                    <h1 class="pricing-title">$60/<span class="month-cont">2 month</span></h1>
                    <ul class="pricing-list">
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos básicos e intermedios</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Certificados digitales</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos avanzados</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Acceso a plataforma digital</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Cursos sobre ciencia</span>
                        </li>
                        <!--<li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos de inglés</span>
                        </li>-->
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                check
                            </span>
                            <span class="advise">Tutorías privadas</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Cursos personalizados</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                close
                            </span>
                            <span class="advise">Descarga de contenido</span>
                        </li>
                    </ul>
                    <a href="#" class="price --button --button-full-size --button-default-hover --clickable">Contratar
                        plan</a>
                </div>
                <div class="pricing-card">
                    <h1 class="pricing-title">$99/<span class="month-cont">2 month</span></h1>
                    <ul class="pricing-list">
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos básicos e intermedios</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Certificados digitales</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos avanzados</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Acceso a plataforma digital</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos sobre ciencia</span>
                        </li>
                        <!--<li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos de inglés</span>
                        </li>-->
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Tutorías privadas</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Cursos personalizados</span>
                        </li>
                        <li>
                            <span class="material-symbols-outlined check-icon">
                                done
                            </span>
                            <span class="advise">Descarga de contenido</span>
                        </li>
                    </ul>
                    <a href="#" class="price --button --button-full-size --button-default-hover --clickable">Contratar
                        plan</a>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer">
        <article class="content-footer">
            <section class="contact">
                <div class="logo-footer">
                    <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple-without-background.svg"
                        alt="SoftKit Academy logo in footer" width="80" height="80">
                </div>
                <div class="contact-section">
                    <div class="contact-info">
                        <ul>
                            <li>
                                <span class="material-symbols-outlined contact-icon">
                                    mail
                                </span>
                            </li>
                            <li>
                                <p>Información: <a href="mailto:info@tcer.com.do">biscenp@gmail.com</a></p>
                                <p>Negocios: <a href="mailto:biscenp@tcer.com.do">biscenp@tcer.com.do</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-info">
                        <ul>
                            <li>
                                <span class="material-symbols-outlined contact-icon">
                                    call
                                </span>
                            </li>
                            <li>
                                <p>Información: <a href="tel:829-795-8511">829-795-8511</a></p>
                                <p>Móvil: <a href="tel:829-795-8511">829-795-8511</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="footer-main">
                <div class="footer-div">
                    <h3 class="footer-title">SoftKit Academy</h3>
                    <p class="footer-text">Plataforma de educación online para el futuro del mundo y el mercado</p>
                </div>
                <div class="footer-div">
                    <h3 class="footer-title">Index</h3>
                    <nav class="link-listing">
                        <a href="#" class="footer-text link">Inicio</a>
                        <a href="#about-us" class="footer-text link">Sobre nosotros</a>
                        <a href="#pricing" class="footer-text link">Precio</a>
                        <a href="#" class="footer-text link">Cursos</a>
                    </nav>
                </div>
                <div class="footer-div">
                    <h3 class="footer-title">Other tools</h3>
                    <nav class="link-listing">
                        <a href="https://tcer.com.do" class="footer-text link">TCER</a>
                        <a href="https://traductor.tcer.com.do" class="footer-text link">TCER Translator</a>
                        <a href="https://wifi.tcer.com.do" class="footer-text link">TCER Wifi</a>
                    </nav>
                </div>
                <div class="footer-div contact-div">
                    <h3 class="footer-title">Subscribe</h3>
                    <form action="#" class="subscription">
                        <input type="email" class="email-input" placeholder="Email">
                        <button type="submit" class="send-form --button-default-hover --clickable">Subscribirse</button>
                        <p class="footer-text">Reciba actualizaciones y noticias via e-mail</p>
                    </form>
                </div>
            </section>
            <section class="copyright">
                <h1 class="copy-text">© SoftKit Academy <span id="year"></span> | All Rights Reserved
                </h1>
                <div class="footer-social">
                    <a href="https://instagram.com/softkit_academy" class="link">
                        <ion-icon name="logo-instagram" class="social-media_icon footer-icon"></ion-icon>
                    </a>
                    <!--<a href="#" class="link">
                        <ion-icon name="logo-facebook" class="social-media_icon footer-icon"></ion-icon>
                    </a>-->
                    <!--<a href="#" class="link">
                        <ion-icon name="logo-youtube" class="social-media_icon footer-icon"></ion-icon>
                    </a>-->
                </div>
            </section>
        </article>
    </footer>

    <!-- CUSTOM JS -->
    <script src="/static/js/script.js"></script>
</body>

</html>