<nav class="nav">
    <h1 class="--font-black --no-stroke">SoftKit Academy</h1>
    <div class="user-card">
        <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple.svg" alt="User Photo"
            class="user-photo" width="50" height="50">
        <div class="user-info">
            <h3 class="--font-black --no-stroke username">{{ data.get("username") }}</h3>
            <span class="role --stroke --font-black">{{ data.get('subscription') | capitalize}}</span>
        </div>
    </div>
</nav>
<!-- This container is the navbar for mobile -->
<div class="dropcont">
    <div class="dropmain">
        <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple-without-background.svg"
            alt="Logo de SoftKit Academy, la mejor academia de programación si quiere aprender muchisimo y en poco tiempo"
            class="logo" width="75" height="75">
        <div class="dropicon-block">
            <img src="/static/icons/menu.svg" alt="Icono del menu de la academia de programacion"
                class="dropdown-icon --clickable" width="32" height="32">
        </div>
    </div>

    <nav class="dropdown">
        <ul class="droplinks">
            <li>
                <a class="dropdown__link" href="#">Inicio</a>
            </li>
            <li>
                <a class="dropdown__link" href="#about-us">Sobre Nosotros</a>
            </li>
            <li>
                <a class="dropdown__link" href="#pricing">Precios</a>
            </li>
            <li>
                <a class="dropdown__link" href="#">Cursos</a>
            </li>
            <li>
                <a class="dropdown__link" href="/form?form=login">Login</a>
            </li>
            <li>
                <img src="/static/icons/close.svg" alt="Icono del menu de la academia de programacion"
                    class="dropdown-icon --clickable exit-icon" width="32" height="32">
            </li>
        </ul>
    </nav>
</div>