<!-- HEADER SECTION -->
<nav class="nav">
    <div class="first-section">
        <div class="perfil-data">
            <img src="/static/img/logos-comprimidos/softkit-academy-logo-coal-purple.svg" alt="Logo" class="logo" width="90" height="90">
            <h2 class="username --no-stroke">Biscen Fabián</h2>
            <p class="rol --no-stroke">PRO</p>
        </div>
        <nav class="navegation">
            <span class="--inline-container --clickable">
                <span class="material-symbols-outlined --icon-box">
                    house
                </span>
                <a href="/" class="--link --no-stroke">Inicio</a>
            </span>
            <span class="--inline-container --clickable">
                <span class="material-symbols-outlined --icon-box">
                    inventory
                </span>
                <a href="#" class="--link --no-stroke">Inventario</a>
            </span>
            <span class="--inline-container --clickable">
                <span class="material-symbols-outlined --icon-box">
                    bar_chart
                </span>
                <a href="/static/templates/tendencia.html" class="--link --no-stroke">Estadisticas</a>
            </span>
            <span class="--inline-container --clickable">
                <span class="material-symbols-outlined --icon-box">
                    attach_money
                </span>
                <a href="#" class="--link --no-stroke">Caja chica</a>
            </span>
            <span class="--inline-container --clickable">
                <span class="material-symbols-outlined --icon-box">
                    settings
                </span>
                <a href="#" class="--link --no-stroke">Configuracion</a>
            </span>
        </nav>
    </div>
    <span class="--inline-container --clickable">
        <span class="material-symbols-outlined --icon-box">
            logout
        </span>
        <a href="#" class="--link --no-stroke">Cerrar sesión</a>
    </span>
</nav>